.logo {
  width: 20%;
  height: 130%;
  margin: 0%;
  margin-left: 4%;
}

.header {
  top: 0;
  /* width:100%; */
  height: 55px;
  /* border-bottom: 2px solid #f1f1f1; */
  padding:0 20px;
  position: fixed;
  background: transparent;
  display:flex;
  justify-content: space-between;
  z-index: 32;
}

.active {
  background-color: #fff;
  transition: .4s all;
  height: max-content;
}

@media (max-width: 768px) {
  .logo {
    width: 30%;
    height: 100%;
    margin-left: 0%;
    margin: -1%;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 50%;
    height: 92%;
    margin-left: 0%;
    margin: 0%;
  }
}

.dropbtn {
  /* background-color: #4caf50; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: fit-content;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  /* display: none; */
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  margin-top: 15%;
  margin-left: 6%;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: white;
  background-color: #e04b89;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  text-align: center;
  transition: 3s ease-in-out;
}

/* Change color of dropdown links on hover */

/* 
.dropdown-content a:hover {
  background-color: #df486f;
} */

/* .dropdown-content a:hover>.lii {
  color: black;
  margin-top: 5%;
} */

/* Show the dropdown menu on hover */

/* .dropdown:hover .dropdown-content {
  display: block;
  background: transparent;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */

@media(max-width: 768px) {
  .dropdown-content {
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 120px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    margin-top: 10%;
    /* margin-left: 10%; */
  }
  .dropbtn {
    color: #fff !important;
  }

  .lii {
    color: #fff !important;
  }
  .dropdown-content a {
    color: white;
    background-color: #e04b89;
    padding: 12px 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 3s ease-in-out;
  }
}