.mission__section {
    border-top: 2px solid #dd226e;
    background: #fff;
    opacity: 0.8;
    z-index: 1;
    top: 0;
    color: #dd226e;
    font-weight: 200;
    padding: 60px;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.mission__section h1 {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.mission__section p {
    color: #000;
}

.mission_p {
    color: white;
}

@media (min-width: 200px) and (max-width: 500px) {
    .mission__section {
        padding: 30px;
    }

    .mission__section h1 {
        font-size: 33px;
    }

    .mission__section p {
        font-size: 15px;
    }
}